/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(255,193,111);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: bisque;
}
.container{
    height:auto;
    width:20%;
}
.container json{
    width:100%;
    display:block;
    transition;transform 2
}
.container:hover json{
    transform: scale(1.15);
}

/* Set the apperance of the class, chart */
.chart{
    background-color: orange;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: red;
}
